[client]
host = 192.168.0.181
database = radio
user = radio_centr
password = cnfhfz;f,f
#default-character-set = utf8
default-character-set = latin1

[BGMySQL]
User = bg1c
Pass = rbhhbk
Database = bgbilling
Host = 192.168.0.4