[client]
host = 192.168.0.1
database = base
user = user
password = my_pass
#default-character-set = utf8
default-character-set = latin1

[BGMySQL]
User = user
Pass = pass
Database = base
Host = 192.168.0.4
